*{
  margin: 0px;
  padding: 0px;
 }

 body {
  background-color: #788775;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 }

 #hero {
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
 }

 #box {
  padding: 10px;
  width: 300px;
  font-size: 16px;
 }

 #btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 }

 #btn:hover {
  background-color:#F33D3D;
 }